<svg class="mask" viewBox="0 0 1 1" preserveAspectRatio="none">
    <polygon points="0 0, 1 0, 1 0, 0 0" >

    </polygon>
</svg>
<div style="width: 100%;height: 100%;overflow: hidden;background: #e0e0e0" class="m0">
    <svg id="bg" viewBox="0 0 1 1" preserveAspectRatio="none" width="100%" height="100%">
        <polygon  points="0 0, 1 0, 1 0, 0 0"></polygon>
    </svg>
    <div class="bg" style="opacity: 1">
    </div>
    <div class="page-landing">
        <div class="joho-logo">
            <div class="joho-top">
                <img src="assets/ui/logo-joho.svg" alt="" width="132px" height="122px">
            </div>
            <div class="horning-bottom">
                <img src="assets/ui/logo-jhornig.svg" width="88" height="69">
            </div>
        </div>
        <div class="nav-container landing">
            <a href="" class="nav-box">
                <svg class="mask-hover" viewBox="0 0 1 1" preserveAspectRatio="none">
                    <polygon points="0 0,1 0,1 0,0 0">
                        <animate attributeType="XML"
                                 attributeName="points"
                                 from="0 0,1 0,1 0,0 0" to="0 0,1 0,1 1,0 1"
                                 begin="indefinite"
                                 dur="200ms"
                                 fill="freeze"
                        />

                    </polygon>
                </svg>
                <div class="copy">
                    <div class="copy-contents">
                        <span class="title-top">
                            <b class="ng-binding">JOHO's</b>
                        </span>
                        <br/>
                        <span class="title-bottom ng-binding">
                            order now
                        </span>
                    </div>
                </div>
                <span class="regular outline">
                    <span class="top"></span>
                    <span class="bottom outline"></span>
                    <span class="left"></span>
                    <span class="right"></span>
                </span>
                <span class="offset outline">
                    <span class="top"></span>
                    <span class="bottom"></span>
                    <span class="left"></span>
                    <span class="right"></span>
                </span>
            </a>
            <a ng-click="nextPage()" ng-touch="nextPage()" class="nav-box large">
                <!--使用 svg定义图像-->
                <!--视区盒子 viewBox="x, y, width, height"  // x:左上角横坐标，y:左上角纵坐标，width:宽度，height:高-->
                <!--<polygon> 标签用来创建含有不少于三个边的图形-->
                <!--points 属性定义多边形每个角的 x 和 y 坐标-->
                <!--preserveAspectRatio 如果是none(属性值的第二部分), 则表示不关心比例，viewBox直接拉伸到最大填满viewport.-->
                <svg class="mask-hover" viewBox="0 0 1 1" preserveAspectRatio="none">
                    <polygon points="0 0,1 0,1 0,0 0">
                        <animate attributeType="XML"
                                 attributeName="points"
                                 from="0 0,1 0,1 0,0 0" to="0 0,1 0,1 1,0 1"
                                 begin="indefinite"
                                 dur="200ms"
                                 fill="freeze"
                        />
                    </polygon>
                </svg>
                <div class="copy">
                    <div class="copy-contents">
                        <span class="title-bottom ng-binding">
                            Follow the
                        </span>
                        <br>
                        <span class="title-top">
                            <b class="ng-binding">JOHO's BEAN</b>
                        </span>
                        <br>
                        <span class="title-bottom ng-binding">
                            Sao Silvestre - Brazil
                        </span>
                    </div>
                </div>
                <span class="regular outline">
                    <span class="top"></span>
                    <span class="bottom outline"></span>
                    <span class="left"></span>
                    <span class="right"></span>
                </span>
                <span class="offset outline">
                    <span class="top"></span>
                    <span class="bottom"></span>
                    <span class="left"></span>
                    <span class="right"></span>
                </span>
            </a>
            <a ng-click="nextPage()" ng-touch="nextPage()" class="nav-box">
                <svg class="mask-hover" viewBox="0 0 1 1" preserveAspectRatio="none">
                    from="0 0,1 0,1 0,0 0" to="0 0,1 0,1 1,0 1"
                    <polygon points="0 0,1 0,1 0,0 0">
                        <animate attributeType="XML"
                                 attributeName="points"
                                 values="0 0,1 0,1 0,0 0;0 0,1 0,1 0,0 .;0 0,1 0,1 1,0 1"
                                 begin="indefinite"
                                 dur="200ms"
                                 fill="freeze"
                        />
                    </polygon>
                </svg>
                <div class="copy">
                    <div class="copy-contents">
                        <span class="title-top">
                            <b class="ng-binding">FILM</b>
                        </span>
                        <br>
                        <span class="title-bottom ng-binding">
                            watch now
                        </span>
                    </div>
                </div>
                <span class="regular outline">
                    <span class="top"></span>
                    <span class="bottom outline"></span>
                    <span class="left"></span>
                    <span class="right"></span>
                </span>
                <span class="offset outline">
                    <span class="top"></span>
                    <span class="bottom"></span>
                    <span class="left"></span>
                    <span class="right"></span>
                </span>
            </a>
        </div>
    </div>
</div>
